$black: #090710;
$lime: lime;
$green: green;
$red: red;

body {
  max-width: 100vw;
  background: $black;
}

#clocks {
  width: 100%;
  padding: 20px 0;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

span {
  margin: 0 10px;
  vertical-align: middle;

}

.analog-clock {
  max-width: 300px;
  min-width: 300px;
  height: 300px;
  margin-bottom: 40px;
  border-radius: 50%;
  border: 5px solid;
  color: $lime;
  position: relative;
}

.inner-circle {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid;
}

.mark {
  position: absolute;
  display: inline-block;
  top: 10px;
  left: 115px;
  width: 50px;
  height: 30px;
  font-size: 22px;
  text-align: center;
  color: $lime;
  transform-origin: 25px 140px;
}

@mixin generate-mark-rotation($n){
  transform: rotate(($n - 1) * 30deg);
}

@for $i from 1 through 12 {
  span.mark:nth-child(#{$i}) {
    @include generate-mark-rotation($i);
    $m: ($i - 1);
    @if $m % 3 == 0 {
      font-size: 30px;
      color: yellow;
    }
  }
}

.tick {
  position: absolute;
  display: inline-block;
  top: 51px;
  left: 141px;
  width: 0px;
  outline: 1px $lime solid;
  height: 8px;
  transform-origin: 0px 100px;
  filter: none;
}

@mixin generate-tick-rotatio($n){
  transform: rotate(($n - 1) * 6deg);
}

@for $i from 1 through 60 {
  span.tick:nth-child(#{$i}) {
    @include generate-tick-rotatio($i);
    $m: $i - 1;
    @if $m % 5 == 0 {
      height: 20px;
      outline: 1px yellow solid;
    }
  }
}



.hour-hand,
.minute-hand,
.second-hand {
  width: 10px;
  height: 60px;
  background: $lime;
  position: absolute;
  top: 90px;
  left: 150px;
  border-radius: 0 0 5px 5px;
  transform-origin: 5px 50px;
}

.hour-hand::before {
  content: " ";
  display: block;
  position: absolute;
  top: -15px;
  left: 0;
  width: 0;
  height: 0;
  border: 5px #0000 solid;
  border-bottom: 10px $lime solid;
}

.minute-hand {
  width: 4px;
  height: 75px;
  top: 75px;
  left: 148px;
  border-radius: 2px;
  transform-origin: 2px 75px;
}

.second-hand {
  width: 2px;
  height: 90px;
  top: 60px;
  left: 149px;
  border-radius: 1px;
  transform-origin: 1px 90px;
  background: yellow;
}

.center-dot {
  position: absolute;
  top: 140px;
  left: 140px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: yellow;
}
